@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 200 20% 98%;
    --btn-background: 200 10% 91%;
    --btn-background-hover: 200 10% 89%;
    --foreground: 200 50% 3%;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: 200 50% 3%;
      --btn-background: 200 10% 9%;
      --btn-background-hover: 200 10% 12%;
      --foreground: 200 20% 96%;
    }
  }
}

@layer base {
  * {
    @apply border-foreground/20;
  }
}

.animate-in {
  animation: animateIn 0.3s ease 0.15s both;
}

.marker{
  color: black
}

@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


::-webkit-scrollbar {
  width: 10px; /* Adjust the width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #000; /* Color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background: #E84C1A; /* Darker gray color for hover state */
  border-radius: 20px; /* Round corners of the scroll thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #2d2d2d; /* Color of the scroll thumb */
}

/* HTML: <div class="loader"></div> */
/* HTML: <div class="loader"></div> */
.loader {
  display: inline-grid;
  width: 40px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: repeating-conic-gradient(from 30deg,#C02942 0 60deg,#0B486B 0 120deg);
  animation: l10-0 2s linear infinite;
}
.loader:before,
.loader:after {
  content:"";
  grid-area: 1/1;
  border-radius: 50%;
  background: inherit;
  transform: rotate(0turn) translate(100%,0);
  animation: l10-1 3s infinite ease-in-out;
}
.loader:after {
  animation-delay: -1.5s;
}
@keyframes l10-0 {to{rotate: -1turn}}
@keyframes l10-1 {to{transform: rotate(1turn) translate(100%,0) rotate(1turn)}}